name: Dev Server Deploy
on:
  workflow_dispatch:
  pull_request:
    types: [closed]
jobs:
  deploy:
    name: Deploy server
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Deploy server to Fly.io
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          ALLOWED_HOSTS: ${{ secrets.ALLOWED_HOSTS }}
          CSRF_TRUSTED_ORIGINS: ${{ secrets.CSRF_TRUSTED_ORIGINS }}
        run: |
          flyctl deploy --remote-only \
            --build-arg DATABASE_URL="${DATABASE_URL}" \
            --build-arg SECRET_KEY="${SECRET_KEY}" \
            --build-arg ALLOWED_HOSTS="${ALLOWED_HOSTS}" \
            --build-arg CSRF_TRUSTED_ORIGINS="${CSRF_TRUSTED_ORIGINS}" \
            --config ./server/deployment/dev/fly.toml
